.box {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    padding: 30px;
    margin: 20px;
    border-top: 3px solid hsl(0, 78%, 62%);
}

.box span {
    display: block;
}

.btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #d90429;
    background: #d90429;
    margin-top: 1rem;
}
.btn:hover {
    background: #fff;
    color: #d90429
}