*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: transparent;
  background-image: none;
}

ul {
  padding: 0;
}

.current_day {
  display: block;
  padding: 5px;
  color: #fff;
  border-radius: 100%;
  background-color: red;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container_row {
  display: flex;
}

.vista {
  height: 100%;
}

form {
  margin-bottom: 1rem;
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}




/**/

